@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: URL("/img/background.jpg");
    background-size: cover;
    background-repeat: repeat;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Courier, monospace;
    color: white;
    font-size: 16px;
}

#chatRoom {
    height: 100%;
}

@media (min-width: 768px) {
    html, body {
        font-size: 14px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    display: none;
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    display: none;
}

#chatRoom {
    background-color: rgba(0, 0, 0, 0.9);
}

.board-container {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.board {
    background-color: white;
    position: relative;
    width: 1000px;
    height: 800px;
    margin: auto;
    overflow: scroll;
}

.board input {
    position: absolute;
    top: -20px;
    cursor: pointer;
    border: 2px solid white;
    z-index: 1000;
}

.board > canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.loading-screen {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
}

input[type="text"], textarea {
    color: white;
}


#messages {
    max-height: 700px;
}

.book-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.book-container img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}